<% layout("/layouts/boilerplate") %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 text-center">
      <h1 class="mb-4">Login on StayEase</h1>

      <form action="/login" method="post" class="needs-validation text-start" novalidate>
        <div class="mb-4">
          <!-- <label for="username" class="form-label">Enter Username</label> -->
          <input name="username" id="username" type="text" class="form-control" placeholder="Enter Username" required>
        </div>

        <div class="mb-4">
          <!-- <label for="password" class="form-label">Enter Password</label> -->
          <input name="password" id="password" type="password" class="form-control" placeholder="Enter Password" required>
        </div>

        <div class="d-grid">
          <button class="btn login-btn">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
